.about-us {
  position: relative;
  padding: 105px 4.4% 198px;
  background-color: $_main_dark;

    &::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 360px;
      height: 582px;
      background-image: (url(../img/stroke_mob_about-us.svg));
      background-repeat: no-repeat;
      background-position: top left;
      background-size: 345px 582px;
    }
}

.about-us__title {
  padding: 0 0 40px;
  margin: 0;
  font-family: $_f__common;
  font-style: normal;
  font-weight: 400;
  font-size: 55px;
  line-height: 52px;
  color: $_main_light;
}

.about-us__content {
  margin: 0;
  padding: 0 35px 0 0;
  font-family: $_f__common;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: $_main_light;
}
