.achievement {
  background-color: $_white;
  background-image: url("data:image/svg+xml,%0A%3Csvg width='689' height='329' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='.33185'%3E%3Cmask id='a' mask-type='alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='689' height='329'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M.00049.14166H688.966V328.085H.00049V.14166Z' fill='%23fff'/%3E%3C/mask%3E%3Cg mask='url(%23a)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M573.56 174.587v45.173l-107.732 61.143v-45.175l107.732-61.141Zm-112.879-39.77v45.19L351.53 238.122v-45.189l109.151-58.116Zm126.201 146.616v45.249l-31.115-11.654v-45.247l31.115 11.652Zm-121.924-45.657v45.248l-29.441-11.026v-45.246l29.441 11.024ZM543 163.406l-49.705 27.733-31.744-11.178v-45.254L543 163.406Zm-192.338 29.567v45.247l-27.953-10.456v-45.247l27.953 10.456Zm205.675 76.088 88.069-52.588c1.603-.957 2.91-2.01 3.886-3.127.586-.673 1.062-1.379 1.416-2.105.227-.468.403-.952.529-1.434.122-.476.193-.967.211-1.46.034-.977-.146-1.973-.534-2.959-.764-1.937-2.305-3.783-4.583-5.491-2.319-1.736-5.313-3.257-8.899-4.52l-62.002-21.849v-.439l-.476.272-.394-.141v.362l-108.204 61.413-29.239-10.951 108.153-60.346.843-.473-83.562-29.443v-.418l-.471.251-.399-.141v.354l-109.616 58.365-27.724-10.38 131.459-68.89 203.677 70.896c7.564 2.633 13.889 5.798 18.804 9.407 4.751 3.487 7.99 7.235 9.627 11.147.779 1.869 1.181 3.753 1.189 5.603l-.003.176c-.018 1.936-.46 3.859-1.314 5.718-1.809 3.931-5.398 7.551-10.668 10.755l-88.839 54.024-30.936-11.588Zm92.767-63.352c.689 1.748.627 3.481-.181 5.15-.861 1.775-2.53 3.412-4.961 4.863l-30.004 17.916-39.528-13.92v-45.263l61.712 21.744c3.505 1.236 6.419 2.714 8.667 4.397 2.148 1.608 3.592 3.328 4.295 5.113Zm-61.352 75.667 88.813-54.006c2.019-1.229 3.823-2.535 5.359-3.886 2.573-2.258 4.472-4.697 5.65-7.26.184-.402.355-.824.52-1.286v41.329c-.007 1.952-.449 3.896-1.314 5.781-1.809 3.932-5.398 7.552-10.668 10.756l-88.36 53.73v-45.158ZM423.681 102.498v25.746l-101.448 53.161-.154-.057-.242-.012v.277l-.628.331.628.237v17.97l-72.402 37.293v-45.195l174.246-89.751ZM31.3895 72.4808c-9.9983-3.7428-17.7328-8.2079-22.98851-13.2689-.63211-.6101-1.2216-1.2203-1.75605-1.8162C2.83099 53.1369.8885 48.6363.87074 44.0218c-.01952-5.23 2.42723-10.3924 7.26924-15.3431C13.1453 23.559 20.5034 18.8929 30.0116 14.8104c9.4532-4.0595 20.4955-7.31137 32.8181-9.66486 11.852-2.26456 24.4178-3.61297 37.3533-4.00967 2.638-.08005 5.293-.12096 7.889-.12096 10.181 0 20.213.61372 29.813 1.82516 12.554 1.58501 23.964 4.13952 33.91 7.59243 4.645 1.6116 8.909 3.4083 12.673 5.3385 3.681 1.8874 6.935 3.9296 9.673 6.0696 2.692 2.1027 4.92 4.3299 6.623 6.6175 1.683 2.2646 2.873 4.6145 3.535 6.9823l.139.4927 12.578-5.7761 24.293 8.4534-133.87 62.3506-76.0495-28.4802ZM1.53659 51.1997l.03906.0854c.17756.3985.37643.8147.59482 1.2364.05682.1067.11364.2134.17046.3219.26101.4875.50782.9126.75107 1.2986l.03729.0623c.24325.3842.51314.7881.83275 1.2328.07635.1085.1527.2152.2326.3202.35511.4856.66939.8894.98545 1.2719l.03018.0374c.32493.3878.67472.7862 1.07245 1.2167.09588.1068.19532.2135.29652.3202.42259.4501.81677.8504 1.21805 1.2382C13.14 64.9863 20.9739 69.5154 31.0841 73.2991l75.9399 28.4379v45.246l-75.6345-28.322c-9.9983-3.744-17.7346-8.209-22.98851-13.27C3.42226 100.595.89028 95.4732.87075 90.1667V49.4173c.0142.0409.02663.0836.04083.1263l.11009.3237c.18111.5177.34446.9375.51492 1.3324ZM248.566 192.283v45.243l-27.276-10.451v-45.243l27.276 10.451Zm-26.637-11.141 41.95-21.279.362-.184-55.913-20.937c-1.133-.426-2.269-.87-3.471-1.363-9.265-3.786-16.714-8.194-22.138-13.098-2.957-2.672-5.283-5.476-6.92-8.338l.016-.009-.088-.156c-.746-1.329-1.352-2.679-1.803-4.015l-.039-.098.014-.005-.051-.166c-.075-.235-.155-.487-.233-.752-.101-.347-.186-.671-.255-.952l-.004-.226-.041.011c-.009-.048-.017-.096-.028-.143l-.03-.165c-.121-.609-.201-1.107-.252-1.569l-.016-.178c-.029-.288-.057-.576-.075-.863-.02-.347-.03-.701-.028-1.083 0-.626.03-1.251.092-1.863.059-.592.149-1.206.268-1.819l-.172-.034.183-.016c.364-1.811.998-3.6328 1.889-5.4082l.041-.0818c.268-.5301.57-1.0727.927-1.6615l.135-.2241c.33-.5337.683-1.0692 1.056-1.5922.034-.048.069-.096.107-.1441l.065-.0889c.426-.5888.831-1.1118 1.25-1.6188 4.594-5.5538 11.691-10.6148 21.094-15.0443 9.352-4.4045 20.451-7.9339 32.987-10.4848 1.31-.2669 2.63-.5124 3.746-.7169.792-.1459 1.598-.2882 2.413-.427.459-.0783.92-.1565 1.382-.233.719-.1174 1.447-.2348 2.184-.3487l.362-.0605c9.103-1.3911 18.628-2.2538 28.303-2.5634 13.398-.4323 26.671.1886 39.457 1.8448 13.271 1.7184 25.467 4.4881 36.252 8.2327 5.053 1.754 9.721 3.7037 13.874 5.794 4.068 2.0457 7.719 4.2658 10.847 6.5944 3.077 2.2912 5.684 4.7141 7.747 7.2028 2.046 2.4673 3.585 5.0289 4.572 7.6119l.174.4519 12.341-6.2582 26.548 9.2399-174.035 89.646-27.046-10.362Zm-49.045-69.751c.046.155.097.311.149.475l.075.235c.174.524.385 1.072.637 1.668.046.105.091.21.137.315.245.553.513 1.105.8 1.642l.15.269c.339.621.665 1.172 1.008 1.699l.027.042c.344.525.722 1.064 1.156 1.642l.183.251c.394.516.825 1.046 1.285 1.578.089.103.178.206.266.308.462.526.949 1.047 1.439 1.551.049.05.101.101.152.153l.107.107c.581.58 1.122 1.099 1.68 1.604 5.195 4.698 12.223 8.946 20.888 12.63 1.674.71 3.355 1.383 5 2l54.048 20.239-41.243 20.921-.41-.16v.368l-.641.324.641.246v7.95l-12.09-4.528c-10.893-4.079-19.51-8.944-25.609-14.46-5.789-5.232-9.057-10.811-9.714-16.582-.082-.729-.123-1.46-.121-2.173v-40.314Zm-64.992-9.679 134.14-62.4754v23.7182c-.419.0658-.834.1351-1.25.2045l-.632.1068c-.488.08-.968.1618-1.447.2437-.758.1298-1.513.2597-2.262.3984-1.415.258-2.66.4964-3.805.7294-3.962.8058-7.948 1.7593-11.854 2.8338-7.887 2.1667-15.064 4.7639-21.334 7.7169-9.519 4.4829-16.715 9.6239-21.41 15.2986-.415.5017-.832 1.0425-1.275 1.6509l-.067.0942c-.035.0481-.073.0961-.105.1441-.374.523-.742 1.078-1.094 1.6509l-.138.2223c-.364.6048-.677 1.1723-.962 1.7309l-.031.0658c-.93 1.8501-1.592 3.7517-1.974 5.673-.261 1.325-.387 2.652-.378 3.946v11.399l-64.122 29.864v-45.216Zm579.817 102.323c-1.698-4.058-5.032-7.932-9.91-11.513-4.989-3.663-11.392-6.869-19.036-9.526L454.91 112.037l-.179-.064-30.18 15.816v-25.741l.672-.345-.672-.233v-.406l-.472.242-27.504-9.5738-.174-.0605-11.818 5.9896c-1.025-2.5207-2.55-5.0112-4.537-7.4074-2.107-2.5403-4.764-5.013-7.897-7.3451-3.17-2.3589-6.863-4.6056-10.975-6.6745-4.187-2.1062-8.891-4.0701-13.979-5.8384-10.84-3.7624-23.095-6.5464-36.428-8.2737-12.836-1.6615-26.16-2.2859-39.596-1.8518-9.663.3113-19.173 1.1705-28.271 2.5545V38.831l.727-.3363-.727-.2543v-.3736l-.456.2152-25.403-8.8411-.068-.0232-11.978 5.5004c-.715-2.3072-1.903-4.5878-3.533-6.7812-1.751-2.3517-4.033-4.634-6.785-6.7847-2.787-2.1792-6.088-4.2516-9.812-6.1586-3.799-1.9479-8.102-3.7606-12.784-5.38656-10.002-3.47243-21.47-6.0394-34.087-7.6333C125.85.44032 113.118-.13426 100.156.26243 87.1818.66091 74.5698 2.01466 62.6699 4.28632c-12.3882 2.36595-23.491 5.63737-32.9992 9.72178-9.6166 4.1288-17.0722 8.8589-22.15395 14.0587C2.50961 33.1883-.01882 38.557.00071 44.0218v46.1805C.02024 95.7347 2.64455 101.057 7.7973 106.02c5.34091 5.145 13.17481 9.672 23.28681 13.458l75.9399 28.437v.381l.453-.21.415.157v-.352l64.122-29.863v33.675c-.002.742.039 1.505.124 2.273.684 5.988 4.047 11.753 9.997 17.131 6.18 5.591 14.891 10.513 25.888 14.63l12.395 4.641v37.298l28.148 10.786v.414l.462-.238.407.157v-.369l72.404-37.293v27.235l28.823 10.784v.425l.465-.251.404.153v-.368l109.62-58.368 31.13 10.964-57.236 31.935-.398-.15v.374l-.602.333.602.226v46.178l30.311 11.351v.447l.474-.269.396.15v-.376L574.025 220.5l38.958 13.721-57.692 34.449-.394-.148v.384l-.568.336.568.214v46.177l31.985 11.979v.473l.48-.292.388.146v-.384l88.815-54.006c5.419-3.294 9.121-7.043 11.005-11.136.92-1.996 1.387-4.065 1.394-6.144v-45.971c.041-2.074-.384-4.18-1.255-6.263Z' fill='%235D9F93'/%3E%3C/g%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M278.235 120.482c-1.857 0-3.724.031-5.553.092-9.021.296-17.695 1.296-25.782 2.974-4.754.989-9.417 2.279-13.855 3.836l-1.53-.57c-7.172-2.683-12.87-5.892-16.935-9.537-3.858-3.461-6.077-7.152-6.597-10.974-.512-3.774.665-7.5048 3.498-11.089 2.953-3.7344 7.573-7.1363 13.735-10.1127 6.16-2.9782 13.513-5.3647 21.86-7.0988 8.036-1.6678 16.659-2.6636 25.633-2.9567 8.979-.2932 17.845.1269 26.367 1.2495 8.858 1.1674 16.964 3.0444 24.091 5.5793 7.146 2.5402 12.93 5.6042 17.184 9.1027 4.098 3.3697 6.606 6.995 7.458 10.7727.854 3.777.004 7.536-2.526 11.172-2.678 3.842-7.109 7.369-13.176 10.481l-8.222 4.219-.101-.041c-.108-.045-.215-.088-.332-.129-7.185-2.556-15.347-4.446-24.265-5.62-6.788-.896-13.837-1.35-20.952-1.35Zm-43.886 7.39c4.145-1.406 8.423-2.572 12.727-3.464 8.036-1.668 16.66-2.664 25.633-2.957 8.98-.293 17.841.127 26.367 1.25 8.718 1.149 16.708 2.987 23.755 5.461l-36.973 18.967-51.509-19.257Zm106.548-37.5758c-4.336-3.5646-10.205-6.6769-17.445-9.2493-7.185-2.5545-15.347-4.4459-24.265-5.6204-7.86-1.0368-16.065-1.473-24.385-1.3067l-.395.0071c-.575.0125-1.148.0233-1.725.0411-4.49.1484-8.946.4738-13.241.9689-4.303.497-8.521 1.1727-12.539 2.0058-1.022.2127-2.068.4415-3.107.6864-7.137 1.6715-13.514 3.8506-18.951 6.4785-6.279 3.0336-11.003 6.5195-14.041 10.3576-2.986 3.7773-4.223 7.7338-3.678 11.7578.549 4.038 2.863 7.91 6.882 11.51 3.622 3.25 8.517 6.162 14.554 8.66.83.343 1.723.695 2.656 1.043l54.625 20.423.071.026 46.584-23.899c6.195-3.178 10.734-6.796 13.493-10.759 2.678-3.846 3.576-7.841 2.666-11.872-.898-3.9742-3.509-7.7622-7.759-11.2588ZM73.8999 63.0646c7.9906-1.5357 16.4735-2.4508 25.2169-2.7165 8.7412-.2712 17.3062.1159 25.4702 1.1504 4.819.6101 9.61 1.5019 14.251 2.656L103.962 80.14 63.9809 65.3906c3.2451-.9026 6.5794-1.6856 9.919-2.326Zm91.4641-14.3035c-3.024 3.5318-7.72 6.7727-13.956 9.6302l-11.288 5.1745c-4.943-1.2789-10.135-2.267-15.422-2.9359-8.216-1.0417-16.84-1.4305-25.608-1.1594-8.7862.2711-17.3173 1.1915-25.356 2.7344-3.8356.7367-7.5891 1.6339-11.1589 2.6684l-9.1216-3.3641c-6.6561-2.4579-11.8332-5.3939-15.3798-8.733-3.354-3.1571-5.1005-6.5247-5.1968-10.0119-.0928-3.4603 1.4504-6.8851 4.5849-10.176 3.27-3.4318 8.1279-6.5622 14.4396-9.3038 6.3065-2.7379 13.7083-4.9319 21.9985-6.523 3.9766-.7634 8.1226-1.3805 12.3257-1.8336 4.2031-.4531 8.5382-.7509 12.8912-.8847 1.7712-.0553 3.5772-.0821 5.3682-.0821 6.87 0 13.633.4156 20.102 1.2344 8.469 1.072 16.131 2.7968 22.776 5.1281 6.653 2.3331 11.921 5.1442 15.66 8.3548 3.588 3.0823 5.614 6.3946 6.023 9.8407.412 3.4586-.826 6.9047-3.682 10.242Zm-1.77-20.7462c-3.825-3.2838-9.188-6.1484-15.942-8.5172-6.702-2.3509-14.425-4.09-22.954-5.1709-8.212-1.0399-16.82-1.427-25.608-1.1594-4.3744.1356-8.7345.4352-12.9608.8901-4.2262.4566-8.3972 1.0755-12.3934 1.8443-8.3527 1.6018-15.8169 3.8153-22.184 6.5801-6.4189 2.7879-11.3712 5.9861-14.7216 9.5035-3.304 3.4675-4.9274 7.1009-4.8257 10.8003.0963 3.7298 1.9392 7.3061 5.4697 10.6291 3.6323 3.4176 8.9075 6.4178 15.6796 8.9149l50.7742 18.7307.068.025 47.777-21.8968c6.353-2.9127 11.148-6.2286 14.258-9.8585 3.02-3.5317 4.326-7.2043 3.886-10.9144-.436-3.6727-2.562-7.1723-6.323-10.4008Z' fill='%235D9F93'/%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size:636px 348px;

  @include media-tablet {
    background-size:1059px 580px;
  }

  @include media-desktop {
    min-height: 900px;
    background-size:1729px 945px;
  }
}

.achievement__container {
  margin: 0 auto;
  @include main-container-padding;
  padding-block: 47px 56px;

  @include media-tablet {
    padding-block: 105px 110px;
  }

  @include media-desktop {
    padding: 105px 50px 130px;
  }

  @include media-desktop-wide {
    padding: 128px 113px 164px 97px;
  }

  @include media-desktop-extra-wide {
    padding-inline: 350px;
  }
}

.achievement__list {
display: flex;
flex-direction: column;
gap: 18px;
margin: 0;
padding: 0;
}

.achievement__item-wrapper {
  display: flex;
}

.achievement__item-wrapper:nth-child(even) {
  margin-left: auto;
}

.achievement__item-wrapper:nth-child(1) { // 385
  @include media-desktop {
    margin-left: 136px;
  }

  @include media-desktop-wide {
    margin-left: 231px;
  }

  @include media-desktop-extra-wide {
    margin-left: 174px;
  }
}

.achievement__item-wrapper:nth-child(2) { // 250
  @include media-desktop {
    margin-bottom: -50px;
    margin-right: 130px;
  }

  @include media-desktop-wide {
    margin-bottom: -220px;
    margin-right: 374px;
  }

  @include media-desktop-extra-wide {
    margin-right: 362px;
  }
}

.achievement__item-wrapper:nth-child(3) { // 500
  @include media-desktop {
    margin-top: 40px;
    margin-left: 30px;
  }

  @include media-desktop-wide {
    margin-top: 80px;
    margin-left: 0px;
  }
}

.achievement__item-wrapper:nth-child(4) { // 115
  @include media-desktop {
    margin-right: 30px;
  }

  @include media-desktop-wide {
    margin-bottom: -90px;
    margin-right: 70px;
  }
}

.achievement__item-wrapper:nth-child(5) { // 300
  @include media-desktop {
    margin-left: 182px;
  }

  @include media-desktop-wide {
    margin-top: -30px;
    margin-left: 350px;
  }

  @include media-desktop-extra-wide {
    margin-top: -130px;
  }
}

.achievement__amount {
  font-family: $_f__common;
  font-style: normal;
  font-weight: 300;
  font-size: 90px;
  line-height: 108px;
  color: $_secondary_dark;
  letter-spacing: -6px;

  @include media-tablet  {
    font-size: 120px;
    line-height: 144px;
  }

  @include media-desktop {
    font-size: 140px;
    line-height: 168px;
    letter-spacing: -6.264px;
  }
}

.achievement__text {
  padding-top: 17px;
  margin-left: 10px;

  font-family: $_f__common;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: $_secondary_dark;

  @include media-tablet  {
    padding-top: 27px;
    font-size: 22px;
    line-height: 88%;
  }

  @include media-desktop {
    padding-top: 30px;
  }
}

.achievement__number
 {
  overflow:hidden;
  display:block;
 }
.achievement__number span
 {
  display:inline-block;
  overflow:hidden;
  line-height:100%;
 }
 .achievement__number span span
 {
 line-height:100%;
 }
  .achievement__number div
  {
  position:relative;
  }
