.biome {
  background-color:$_main_dark;
}

.biome__container--up {
  position: relative;
  min-height: 470px;
  padding: 48px 16px 290px;
}

.biome__container--down {
  min-height: 572px;
  padding: 135px 16px 195px;
}

.biome__title {
  margin: 0;
  padding: 0;
  font-family: $_f__common;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  color: $_main_dark;
  z-index: 5;
}

.biome__wrapper {
  position: relative;
  background-color: $_secondary_light;
}

.biome__wrapper::before {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  z-index: 1;

  background-image: url('../img/biom.jpg');
  background-size:cover;
  background-repeat: no-repeat;
  filter: blur(14px);
  opacity: 0.3;
}

.biome__image {
  display: block;
  position: absolute;
  bottom: -85px;
  left: 0;
  right: 0;
  z-index: 5;
}

.biome__text {
  margin: 0;
  padding: 0 0 57px;
  font-family: $_f__common;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 140%;
  color: $_main_light;
}

.biome__button {
  width: 200px;
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 36px;
  background: $_button_dark;
  border-radius: 64px;
  font-family: $_f__common;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $_white;
}
