.contacts {
  position: relative;
  overflow: hidden;
  background-color: $_main_dark;

  &::before {
    position: absolute;
    content: "";
    top: 225px;
    left: -5px;
    width: 150vw;
    height: 150vw;
    background-image: url('../img/aqm_logo_full.svg');
    background-position: top left;
    background-size: cover;
    z-index: 1;
    transform: rotate(180deg);
  }
}

.contacts__container {
  padding: 50px 16px 0;
}

.contacts__box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 59px;
}

.contacts__title {
  margin: 0 0 10px;
  padding: 0;
  font-family: $_f__common;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 69px;
  color: $_main_light;
}
