.contacts {
  position: relative;
  overflow: hidden;
  background-color: $_main_dark;
}

.contacts__container {
  padding: 50px 16px 0;

  &::before {
    position: absolute;
    content: "";
    top: 250px;
    left: max(53vw - 295px, 10px);
    width: min(140vw, 700px);
    height: min(140vw, 700px);
    background-image: url('../img/aqm_logo_full.svg');
    background-position: -9px -9px;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
    transform: rotate(180deg);
  }
}

.contacts__box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 59px;
}

.contacts__title {
  margin: 0 0 10px;
  padding: 0;
  font-family: $_f__common;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 69px;
  color: $_main_light;
}
