.footer {
  background-color: $_secondary_black;
}

.footer__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  padding: 32px 96px 50px 16px;
}

.footer__copyright {
  position: absolute;
  bottom: 17px;
  left: 16px;
  display: block;
  font-family: $_f__common;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: $_main_light;
}

.footer__logo {
  width: 100%;
  margin-right: auto;
}

.footer__address-title {
  margin: 0 0 5px;
  padding: 0;
  font-family: $_f__common;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  align-items: center;
  color: $_main_light;
}

.footer__address-list {
  @include list-style-reset;
}

.footer__address-link {
  font-family: $_f__common;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 135%;
  color: $_main_light;
}
