.footer {
  background-color: $_secondary_black;
}

.footer__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  min-height: 250px;
  margin: 0 auto;

  @include main-container-padding;
  padding-block: 32px 27px;

  @include media-tablet {
    justify-content: unset;
    padding-block: 81px 57px;
  }
}

.footer__copyright {
  position: absolute;
  bottom: 25px;
  left: 16px;
  display: block;
  font-family: $_f__common;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: $_main_light;

  @include media-tablet {
    position: static;

    font-size: 16px;
    line-height: 24px;
  }
}

.footer__logo {
  display: flex;
  width: 100%;
  margin-right: auto;

  @include media-tablet {
    flex-direction: column;
    gap: 11px;
    width: 150px;
    margin-right: 0 auto;
  }
}

.footer__logo-link {
  width: 88px;
  height: 30px;
}

.footer__address {
  @include media-tablet {
    margin-right: 73px;
  }
}

.footer__address-title {
  margin: 0 0 5px;
  padding: 0;
  font-family: $_f__common;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  align-items: center;
  color: $_main_light;
}

.footer__address-list {
  @include list-style-reset;
}

.footer__address-link {
  font-family: $_f__common;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 135%;
  color: $_main_light;
}

.footer__social-list {
  @include list-style-reset;
}

.footer__social-title {
  margin: 0 0 5px;
  padding: 0;
  font-family: $_f__common;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  align-items: center;
  color: $_main_light;
}

.footer__social-link {
  font-family: $_f__common;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 135%;
  color: $_main_light;
}
