.footer {
  background-color: $_secondary_black;
}

.footer__container {
  padding: 32px 16px 27px;
}

.footer__copyright {
  display: block;
  font-family: $_f__common;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: $_main_light;
}
