.form {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 0 0 39px 35px;
  margin: 0 0 0 16px;
  z-index: 5;
}

.form__wrapper {
  z-index: 5;
}

.form__reason {
  margin: 0;
  padding: 0;
  font-family: $_f__common;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: $_main_light;
}

.form__input {
  width: 100%;
  padding: 0 5px 0 5px;

  font-family: $_f__common;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 58px;
  color: $_white;
  letter-spacing: -1px;

  background-color: transparent;
  border: none;
  border-bottom: 1px solid $_font_grass;

  @include media-tablet {
    font-size: 20px;
    line-height: 69px;
  }
}

.form__textarea::placeholder,
.form__input::placeholder {
  font-family: $_f__common;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 69px;
  letter-spacing: -1px;
  color: $_main_light;
  opacity: 0.4;

  @include media-tablet {
    font-size: 20px;
  }
}

.form__input:invalid {
  border-bottom: 1px solid $_button_dark;
}

.form__input:placeholder-shown {
  border-bottom: 1px solid $_font_grass;
}

.form__input:focus {
  outline: 1px solid $_font_grass;
}

.form__input:focus:not(:focus-visible) {
  outline: none;
}

.form__input:focus-visible {
  outline: 1px solid $_font_grass;
}

.form__textarea {
  padding: 0 5px 0 5px;
  max-height: 420px;
  width: 100%;

  font-family: $_f__common;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  color: $_white;
  letter-spacing: -1px;

  background-color: $_main_dark;
  border: none;
  border-bottom: 1px solid $_font_grass;
  resize: vertical;

  @include media-tablet {
    font-size: 20px;
    line-height: 69px;
  }
}

.form__textarea:focus {
  outline: 1px solid $_font_grass;
}

.form__textarea:focus:not(:focus-visible) {
  outline: none;
}

.form__textarea:focus-visible {
  outline: 1px solid #5D9F93;
}

.form__btn-submit {
  width: 175px;
  padding: 12px 36px;

  background: $_button_dark;
  border-radius: 64px;
  border: none;

  font-family: $_f__common;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $_white;
  cursor: pointer;
  z-index: 5;
}

.form__btn-submit:focus-visible {
  outline: 2px solid #5D9F93;
}
