.lang__list,
.lang {
  position: relative;
  @include list-style-reset;
  z-index: 5;
}

.lang {
  z-index: 200;
}

.header__lang:hover .lang__link {
  position: relative;
  display:block;
  z-index: 5;
}
.lang__link {
  position: relative;
  min-width: 60px;

  display: none;

  font-family: $_f__common;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: $_white;

  z-index: 5;
}

.lang__link:hover {
  font-family: $_f__common;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: $_button_hover;
  z-index: 5;
}

.lang__link--active:hover {
  display: block;
  font-family: $_f__common;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: $_button_hover;
}

.lang__link--active {
  display: block;
  font-family: $_f__common;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: $_white;
}

.lang__link--active::before {
  position: absolute;
  content: "";
  right: -10px;
  top: 7px;
  width: 7px;
  height: 5px;
  background-image: url('../img/header_lang_menu_icon.svg');
  background-repeat: no-repeat;
}
