.magazine {
  background-color: $_white;
}

.magazine__container {
  @include main-container-padding;
  padding-block: 72px 147px;

  @include media-tablet {
    padding-block: 127px 166px;
  }
}

.magazine__title {
  margin: 0 0 69px;
  padding: 0;
  font-family: $_f__common;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 69px;
  color: $_secondary_black;
  letter-spacing: -3px;
}

.magazine__list {
  @include list-style-reset;
}

.magazine__item {
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid $_font_grass;
}

.magazine__item:first-child {
  border-top: 1px solid $_font_grass;
}

.magazine__item-name,
.magazine__download {
  display: block;
}

.magazine__item-name {
  width: 120px;
  font-family: $_f__common;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 135%;
  color: $_secondary_black;
}

.magazine__link {
  position: relative;
  padding-right: 18px;
  font-family: $_f__common;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $_button_dark;

  &::before {
    position: absolute;
    content: "";
    right: 0;
    top: 2px;
    width: 13px;
    height: 15px;
    background-image: url('../img/download_sign.svg');
    background-repeat: no-repeat;
    background-size: 13px 15px;
  }
}
