// .main {
//   background-color: $_main_dark;
// }

.main__wrapper {
  margin: 0 auto;
  width: 360px;
}

.main__banner {
  position: relative;
  height: 241px;
}

.main__play-sing {
  position: absolute;
  top: calc(50% - 23px);
  left: calc(50% - 23px);
  cursor: pointer;
}
