.main__wrapper {
  margin: 0 auto;
  min-width: $mobile;
  max-width: 560px;
}

.main__container {
  background-color: $_main_dark;
}

.main__image {
  display: block;
  aspect-ratio: 560 / 375;
}

.main__banner {
  position: relative;
  z-index: 5;
}

.main__play-sing {
  position: absolute;
  top: calc(50% - 23px);
  left: calc(50% - 23px);
  cursor: pointer;
}
