.main__wrapper {
  margin: 0 auto;
  min-width: $mobile;
  max-width: $mobile-container-max;

  @include media-tablet  {
    min-width: $tablet;
    max-width: $tablet-container-max;
  }
  @include media-desktop  {
    min-width: $desktop;
    max-width: $desktop-container-max;
  }
}
.main__container .main__wrapper {
  @include media-desktop  {
    width: 100%;
    height: min(100vh, 100vw);
    min-width:100%;
    max-width:100%;
  }
}

.main__container {
  background-color: $_main_dark;
  overflow:hidden;
}

.main__image {
  display: block;
  aspect-ratio: 1.49;
}

.main__banner {
  position: relative;
  z-index: 5;
}

.main__play-sing {
  position: absolute;
  top: calc(50% - 23px);
  left: calc(50% - 23px);
  cursor: pointer;
}
.main
{
  padding-top:81px;
  @include media-desktop  { padding-top:0px;}

}