.navigation {
  z-index: 5;
}

.navigation__list {
  display: none;
  //display: flex;
  flex-direction: column;
  gap: 19px;
  @include list-style-reset;
  background-color: $_main_dark;
  width: $mobile;
  padding-bottom: 179px;
}

.navigation__item {
  padding: 10px;
}

.navigation__link {
  display: inline-block;
  min-height: 35px;
  font-family: $_f__common;
  font-style: normal;
  font-weight: 300;
  font-size: 50px;
  line-height: 70px;
  color: $_font_grass;
  cursor: pointer;
}
