.projects {
  position:relative;
  padding: 53px 4.4% 90px;
  background:$_white;
}

@include media-tablet  {
  .projects__box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
  }
}

.projects__title {
  margin: 0;
  padding: 0 0 12px;
  font-family: $_f__common;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 69px;
  color: $_secondary_black;
  letter-spacing: -2px;
}

.projects__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  @include media-tablet  {
    justify-content: end;
    margin-top: -50px;
  }
}

.projects__card:hover .card__image {
  filter: blur(17px);
}

.card__link {
  display:block;
  overflow:hidden;
  position:relative;
}

.card__button {
  background:transparent;
  position:absolute;
  top:calc(50% - 25px);
  z-index:100;
  border: 1px solid $_white;
  cursor:pointer;
  visibility:hidden;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.projects__card:hover .card__button {
  visibility:visible;
}
