@font-face {
  font-family: "Akkurat LL";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("./fonts/AkkuratLLCyr-Light.woff2") format("woff2"),
  url("./fonts/AkkuratLLCyr-Light.woff") format("woff");
}

@font-face {
  font-family: "Akkurat LL";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./fonts/AkkuratLLCyr-Regular.woff2") format("woff2"),
  url("./fonts/AkkuratLLCyr-Regular.woff") format("woff");
}

// @font-face {
//   font-family: "Akkurat LL";
//   font-style: bold;
//   font-weight: 700;
//   font-display: swap;
//   src: url("./fonts/AkkuratLL-Regular.woff2") format("woff2"),
//   ("./fonts/AkkuratLL-Regular.woff") format("woff");
// }
