*, *::before, *::after {
  box-sizing: inherit;
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  padding: 0;
  font-family: $_f__common, sans-serif;
  font-weight: normal;
}

img {
  max-width: 100%;
  width: 100%;
}

a {
  text-decoration: none;
}

.hidden {
  position: absolute;
  width: 0.1px !important;
  height: 0.1px !important;
  margin: 0 !important;
  padding: 0 !important;
  opacity: 0 !important;
  overflow: hidden !important;
  z-index: -1;
  transition: all 0.3s;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
