// Media
$mobile: 360px;
$mobile-container-max: 560px; // максимальная ширина на мобилке
$tablet: 768px;
$tablet-container-max: 920px;
$desktop: 1024px;
$desktop-container-max: 1439px;
$desktop-wide: 1440px;

// Colors

$_white: #ffffff;
$_black: #000000;
$_main_light: #e1f1e3;
$_main_dark: #003137;
$_secondary_black: #151919;
$_secondary_dark: #254634;
$_secondary_light: #F3F1D8;
$_button_dark: #E0804E;
$_font_grass: #5D9F93;


$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// Fonts
$_f__common_name: "Akkurat LL";
$_f__default: "Arial", sans-serif;
$_f__common: $_f__common_name, $_f__default;
