// Media
$mobile: 360px;
$tablet: 768px;
$desktop: 1024px;
$desktop-wide: 1440px;

// Colors

$_white: #ffffff;
$_black: #000000;
$_main_light: #E1F1E3;
$_main_dark: #003137;
$_secondary_black: #151919;
$_secondary_dark: #254634;
$_secondary_light: rgb(243, 241, 216); // #F3F1D8
$_button_dark: #E0804E;
$_font_grass: #5D9F93;


$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// Fonts
$_f__common_name: "Akkurat LL";
$_f__default: "Arial", sans-serif;
$_f__common: $_f__common_name, $_f__default;
