.about-opportunities {
  background: #f3f1d8;
}

.about-opportunities__container {
  @include main-container-padding;
  padding-block: 44px 51px;

  @include media-tablet {
    padding-block: 42px;
  }

  @include media-desktop {
    padding-block: 88px;
    display: flex;
    justify-content: space-between;
  }
}

.about-opportunities__title {
  width: 210px;
  margin: 0;
  padding: 0 0 21px;
  font-family: $_f__common;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 37px;
  letter-spacing: -2px;
  color: $_secondary_dark;

  @include media-tablet {
    width: 530px;

    font-size: 50px;
    line-height: 69px;
    letter-spacing: -3px;
  }

  @include media-desktop {
    font-size: 55px;
  }
}

.about-opportunities__text {
  width: 266px;
  margin: 0 0 30px;
  padding: 0;
  font-family: $_f__common;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.5px;
  color: $_main_dark;

  @include media-tablet {
    width: 445px;

    font-size: 24px;
    line-height: 140%;
    letter-spacing: -1px;
  }
}

.about-opportunities__link {
  display: block;
  padding: 13px 55px;
  width: 210px;
  height: 50px;
  background: $_button_dark;
  border-radius: 64px;
  font-family: $_f__common;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $_white;

  @include media-desktop-wide {
    margin-right: 103px;
  }
}

.about-opportunities__image {
  display: block;
}
