.articles-about-us {
  background-color: $_main_dark;
}

.articles-about-us__container {
  padding: 39px 16px 45px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.article-about-us__title {
  margin: 0;
  padding: 0;
  font-family: $_f__common;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 52px;
  letter-spacing: -1px;
  color: $_white;
}

.article-about-us__text {
  margin: 0;
  padding: 0;
  font-family: $_f__common;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 138%;
  letter-spacing: -0.5px;
  color: $_main_light;
}
