.project-2 {
  background-color: $_main_dark;
}

.project-2__container {
  @include main-container-padding;
}

.project-2__wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding-bottom: 75px;
}

.project-2__title {
  margin: 0;
  padding: 125px 0 43px;

  font-family: $_f__common;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 43px;
  letter-spacing: -1px;
  color: $_main_light;

  background-color: $_main_dark;

  @include media-tablet {
    padding: 125px 0 70px;

    font-size: 65px;
    line-height: 69px;
    letter-spacing: -3px;

  }

  @include media-desktop {
    padding: 125px 0 44px;

    font-size: 96px;
    line-height: 100px;
    letter-spacing: -5px;
  }

  @include media-desktop-wide {
    padding-top: 90px;
  }
}

.banner-project-2__image--left {
  display: block;
}

.project-2__image-right {
  display: none;

  @include media-tablet {
    display: block;
    margin-top: -150px;
  }
}

.project-2__banner-picture {
  display: block;
  margin-bottom: 60px;
}

.project-2__box-info {
  border-top: 2px solid rgba(225, 241, 227, 0.6);
  padding: 53px 0 68px;

  @include media-tablet {
    display: flex;
    flex-wrap: wrap;

    padding-top: 40px;
  }

  @include media-desktop {
    padding-top: 90px;
    padding-bottom: 66px;
  }
}

.project-2__info {
  margin: 0;
  margin-bottom: 31px;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  color: $_main_light;

  @include media-tablet {
    width: 60%;
  }

  @include media-desktop {
    width: 70%;
  }
}

.project-2__feature-box {
  width: 45%;

  @include media-desktop {
    width: 30%;
  }
}

.project__feature-box--order {
  @include media-desktop {
    order: -1;
  }
}

.project-2__item-info {
  margin: 0;
  padding: 0;

  font-family: $_f__common;
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 52px;
  letter-spacing: -1px;
  color: $_main_light;

  @include media-tablet {
    font-size: 32px;
  }

  @include media-desktop {
    font-size: 36px;
  }
}

.project-2__feature {
  font-family: $_f__common;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  text-transform: lowercase;
  color: $_main_light;

  @include media-tablet {
    font-size: 14px;
  }

  @include media-desktop {
    font-size: 16px;
  }
}

.project-2__list-of-works {
  display: flex;
  flex-direction: column;
  gap: 5px;
  @include list-style-reset;
  padding-bottom: 53px;

  color: $_main_light;
}

.project-2__item-of-works {
  font-family: $_f__common;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 149%;
  color: $_main_light;

  @include media-tablet {
    font-size: 16px;
  }

  @include media-desktop {
    font-size: 18px;
    letter-spacing: -1px;
  }
}

.project-2__text-box {
  padding: 56px 0 0;

  border-top: 2px solid rgba(225, 241, 227, 0.6);

  @include media-tablet {
    display: flex;
    gap: 80px;
    padding: 46px 0;
  }

  @include media-desktop {
    display: flex;

    padding: 93px 0 117px;
  }

  @include media-desktop-wide {
    padding: 44px 0 197px;
  }
}

.project-2__text {
  margin: 0;
  padding: 0;

  color: $_white;
  font-family: $_f__common;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 149%;
}

.project-2__text--small {
  padding: 0 35px 33px 0;

  @include media-tablet {
    width: 210px;
  }
}

.project-2__text--large {
  font-weight: 300;
  font-size: 22px;
  line-height: 140%;
  letter-spacing: -1px;
  color: $_white;

  @include media-tablet {
    width: 415px;
    margin-left: auto;

    font-size: 28px;
    line-height: 128%;
  }
}
