.main-article {
  padding: 81px 0 0 0;
}

.main-article__container {
  padding: 0 16px;
}

.main-article__box--up {
  background-color: $_main_light;
}

.main-article__box--down {
  background-color: $_white;
  padding: 24px 0 41px;
  margin: 0;
}

.main-article__image {
  display: block;
  padding: 0 16px;
  background: linear-gradient(180deg,#e1f1e3 67%,#ffffff 67%);
}

.main-article__title {
  margin: 0;
  padding: 32px 0;
}

.main-article__text {
  margin: 0;
  padding: 0 0 14px;
  font-family: $_f__common;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.5px;
  color: $_main_dark;
}

.main-article__text-down {
  margin: 0 0 10px;
  padding: 0;
  font-family: $_f__common;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $_secondary_black;
}

.main-article__text-down--last {
  margin-bottom: 35px;
}

.main-article__btn-link {
  width: 180px;
  padding-left: 28px;
  font-family: $_f__common;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $_button_dark;
}

.main-article__btn-link-box {
  position: relative;
}

.main-article__link-back-icon {
  position: absolute;
  display: block;
  top: 6px;
  left: 0;
  width: 24px;
  height: 10px;
}
