.project-description {
  padding: 76px 16px 40px;
  background: $_main_light;

  @include media-tablet {
    padding: 76px 32px 0;
  }
}

.project-description__box {
  @include media-tablet {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;

    background-color: $_main_dark;
  }
}

.project-description__text {
  margin: 0;
  padding: 0 0 36px;

  font-family: $_f__common;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;
  letter-spacing: -0.5px;
  color: $_main_dark;

  @include media-tablet {
    color: $_main_light;
    width: 45%;
  }
}

.project-description__text--large {
  padding: 0 0 32px;

  font-family: $_f__common;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 128%;
  letter-spacing: -1px;
  color: $_main_dark;

  @include media-tablet {
    width: 66%;
    color: $_main_light;
  }
}
.project-description--project2 {
  background-color: $_main_dark;
  padding: 72px 16px 79px;
}

.project-description__text-project2,
.project-description__text--large-project2 {
  color: $_main_light;
}
