.project-subject {
  padding: 0 16px 40px;
  background-color: $_white;

  @include media-tablet {
    display: flex;
    gap: 24px;
    align-items: center;
  }
}

.project-subject__text {
  margin-bottom: 40px;
  font-family: $_f__common;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;
  letter-spacing: -0.5px;
  color: $_main_dark;

  @include media-desktop {
    font-size: 18px;
    line-height: 24px;
  }
}

.project-subject__image {
  display: block;

  @include media-tablet {
    min-width: 392px;
    height: auto;
  }
}
